/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

* ::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 30rem) {
  .app {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .main-welcome-container {
    position: absolute;
    min-height: 110vh;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#049dd9), to(#ffc107));
    background-image: linear-gradient(#049dd9 0%, #ffc107 100%);
    z-index: 1;
  }
  .main-welcome-container .main-logo-container .main-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .main-welcome-container .main-logo-container .main-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .main-welcome-container .main-text-container {
    height: 50vh;
    margin-top: 6rem;
  }
  .main-welcome-container .main-text-container .main-texts {
    text-align: center;
    color: white;
    margin: 0 2rem;
  }
  .main-welcome-container .main-text-container .main-texts h3 {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
  .main-welcome-container .main-text-container .main-texts h4 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .main-welcome-container .main-button-container {
    position: relative;
    width: auto;
  }
  .main-welcome-container .main-button-container .main-button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: inline-block;
    background-color: white;
    border-radius: 15rem;
    padding: 1rem 0;
  }
  .main-welcome-container .main-button-container .main-button p {
    text-align: center;
    width: 14rem;
    font-size: 1.7rem;
    color: #049dd9;
  }
  .login-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .login-container .login-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .login-container .login-contents .login-logo-container .login-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .login-container .login-contents .login-logo-container .login-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .login-container .login-contents .login-contents-body {
    position: relative;
    padding: 0 1.5rem;
  }
  .login-container .login-contents .login-contents-body .sign-in-phone {
    margin-top: 0.6rem;
  }
  .login-container .login-contents .login-contents-body .sign-in-phone h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .login-container .login-contents .login-contents-body .sign-in-phone .phone-number {
    margin: 1rem 0;
  }
  .login-container .login-contents .login-contents-body .sign-in-phone input[type="number"],
  .login-container .login-contents .login-contents-body .sign-in-phone select {
    width: 100%;
    padding: 1rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .login-container .login-contents .login-contents-body .alert-message {
    font-size: 1rem;
    color: #ff5757;
    display: none;
    margin-left: 0.25rem;
  }
  .login-container .login-contents .login-contents-body .button-container {
    margin: 1rem 0;
  }
  .login-container .login-contents .login-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .login-container .login-contents .login-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .login-container .login-contents .login-contents-body .go-to-sign-up {
    margin: 10vh 0 10vh 0;
  }
  .login-container .login-contents .login-contents-body .or-line {
    text-align: center;
    margin: 2rem 0 1rem 0;
    overflow: hidden;
  }
  .login-container .login-contents .login-contents-body .or-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .login-container .login-contents .login-contents-body .or-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .login-container .login-contents .login-contents-body .or-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method-wrap:hover .continue-method {
    background-color: #ffc107;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    color: white !important;
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method {
    position: relative;
    line-height: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: solid #bebdbd 2px;
    border-radius: 0.6rem;
    margin: 1.5rem 0;
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method .far {
    font-size: 2.5rem;
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method .far::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 6px;
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method .fab {
    font-size: 2.5rem;
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method .fab::before {
    margin-left: 6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .login-container .login-contents .login-contents-body .sign-in-alternative .continue-method .fa-facebook-square::before {
    margin-left: 8px;
  }
  .login-container .login-contents .login-contents-body .no-account-line {
    text-align: center;
    overflow: hidden;
  }
  .login-container .login-contents .login-contents-body .no-account-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .login-container .login-contents .login-contents-body .no-account-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .login-container .login-contents .login-contents-body .no-account-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .phone-login-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .phone-login-container .phone-login-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .phone-login-container .phone-login-contents .phone-login-logo-container .phone-login-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .phone-login-container .phone-login-contents .phone-login-logo-container .phone-login-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body {
    letter-spacing: 0.05rem;
    position: relative;
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .weve-sent {
    padding-top: 1rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .weve-sent h4 {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .weve-sent h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: lighter;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .four-digit-login {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3.8rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .four-digit-login .digit {
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    border: solid #bebdbd thin;
    margin: 0 0.25rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .four-digit-login .digit input {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border: none;
    text-align: center;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .four-digit-login .one {
    margin: 0 0.25rem 0 0;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .digit-alert-login {
    display: none;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .digit-alert-login h4 {
    padding-top: 1rem;
    color: red;
    font-weight: lighter;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .did-receive {
    margin-top: 2rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .did-receive h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: lighter;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .did-receive span {
    font-weight: bolder;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .call-instead {
    margin-top: 3.5rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .call-instead h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: bolder;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .another-method-line {
    text-align: center;
    margin: 4rem 0 1rem 0;
    overflow: hidden;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .another-method-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .another-method-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .another-method-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .button-container {
    margin: 1rem 0;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .phone-login-container .phone-login-contents .phone-login-contents-body .back-to-login-from-phone-auth {
    margin: 10vh 0 10vh 0;
  }
  .login-email-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .login-email-container .login-email-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .login-email-container .login-email-contents .login-email-logo-container .login-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .login-email-container .login-email-contents .login-email-logo-container .login-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .login-email-container .login-email-contents .login-email-contents-body {
    position: relative;
    padding: 0 1.5rem;
  }
  .login-email-container .login-email-contents .login-email-contents-body .login-email {
    margin-top: 0.6rem;
  }
  .login-email-container .login-email-contents .login-email-contents-body .login-email h2 {
    font-size: 1rem;
    margin: 1rem 0 0 0;
  }
  .login-email-container .login-email-contents .login-email-contents-body .login-email .email {
    margin: 1rem 0;
  }
  .login-email-container .login-email-contents .login-email-contents-body .login-email input[type="text"],
  .login-email-container .login-email-contents .login-email-contents-body .login-email select {
    width: 100%;
    padding: 0.8rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .login-email-container .login-email-contents .login-email-contents-body .alert-message {
    font-size: 1rem;
    color: #ff5757;
    display: none;
    margin-left: 0.25rem;
  }
  .login-email-container .login-email-contents .login-email-contents-body .button-container {
    margin: 1rem 0;
  }
  .login-email-container .login-email-contents .login-email-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .login-email-container .login-email-contents .login-email-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .login-email-container .login-email-contents .login-email-contents-body .login-to-guest {
    margin: 5vh 0 10vh 0;
  }
  .login-email-container .login-email-contents .login-email-contents-body .go-to-login {
    margin: 10vh 0 10vh 0;
  }
  .login-email-container .login-email-contents .login-email-contents-body .or-line {
    text-align: center;
    margin: 2rem 0 1rem 0;
    overflow: hidden;
  }
  .login-email-container .login-email-contents .login-email-contents-body .or-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .login-email-container .login-email-contents .login-email-contents-body .or-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .login-email-container .login-email-contents .login-email-contents-body .or-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .sign-up-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .sign-up-container .sign-up-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .sign-up-container .sign-up-contents .sign-up-logo-container .sign-up-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .sign-up-container .sign-up-contents .sign-up-logo-container .sign-up-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body {
    position: relative;
    padding: 0 1.5rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-phone {
    margin-top: 0.6rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-phone h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-phone .phone-number {
    margin: 1rem 0;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-phone input[type="number"],
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-phone select {
    width: 100%;
    padding: 1rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .alert-message {
    font-size: 1rem;
    color: #ff5757;
    display: none;
    margin-left: 0.25rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .button-container {
    margin: 1rem 0;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .go-to-sign-in {
    margin: 10vh 0 10vh 0;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .or-line {
    text-align: center;
    margin: 2rem 0 1rem 0;
    overflow: hidden;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .or-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .or-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .or-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method-wrap:hover .continue-method {
    background-color: #ffc107;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    color: white !important;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method {
    position: relative;
    line-height: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: solid #bebdbd 2px;
    border-radius: 0.6rem;
    margin: 1.5rem 0;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method .far {
    font-size: 2.5rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method .far::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 6px;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method .fab {
    font-size: 2.5rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method .fab::before {
    margin-left: 6px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .sign-up-alternative .continue-method .fa-facebook-square::before {
    margin-left: 8px;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .no-account-line {
    text-align: center;
    overflow: hidden;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .no-account-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .no-account-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .sign-up-container .sign-up-contents .sign-up-contents-body .no-account-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .phone-signup-container .phone-signup-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-logo-container .phone-signup-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-logo-container .phone-signup-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body {
    letter-spacing: 0.05rem;
    position: relative;
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .weve-sent {
    padding-top: 1rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .weve-sent h4 {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .weve-sent h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3.8rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup .digit {
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    border: solid #bebdbd thin;
    margin: 0 0.25rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup .digit input {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border: none;
    text-align: center;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup .one {
    margin: 0 0.25rem 0 0;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .digit-alert-signup {
    display: none;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .digit-alert-signup h4 {
    padding-top: 1rem;
    color: red;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .did-receive {
    margin-top: 2rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .did-receive h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .did-receive span {
    font-weight: bolder;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .call-instead {
    margin-top: 3.5rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .call-instead h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: bolder;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line {
    text-align: center;
    margin: 4rem 0 1rem 0;
    overflow: hidden;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .button-container {
    margin: 1rem 0;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .back-to-signup-from-phone-auth {
    margin: 10vh 0 10vh 0;
  }
  .phone-signup-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .phone-signup-container .phone-signup-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-logo-container .phone-signup-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-logo-container .phone-signup-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body {
    letter-spacing: 0.05rem;
    position: relative;
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .weve-sent {
    padding-top: 1rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .weve-sent h4 {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .weve-sent h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3.8rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup .digit {
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    border: solid #bebdbd thin;
    margin: 0 0.25rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup .digit input {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border: none;
    text-align: center;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .four-digit-signup .one {
    margin: 0 0.25rem 0 0;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .digit-alert-signup {
    display: none;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .digit-alert-signup h4 {
    padding-top: 1rem;
    color: red;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .did-receive {
    margin-top: 2rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .did-receive h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: lighter;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .did-receive span {
    font-weight: bolder;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .call-instead {
    margin-top: 3.5rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .call-instead h5 {
    font-size: 1rem;
    padding: 0.1rem 0;
    font-weight: bolder;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line {
    text-align: center;
    margin: 4rem 0 1rem 0;
    overflow: hidden;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .another-method-line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .button-container {
    margin: 1rem 0;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .phone-signup-container .phone-signup-contents .phone-signup-contents-body .back-to-signup-from-phone-auth {
    margin: 10vh 0 10vh 0;
  }
  .phone-signup-detail-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .phone-signup-detail-container .phone-signup-detail-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .alert-message {
    font-size: 1rem;
    color: #ff5757;
    display: none;
    margin-left: 0.25rem;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body {
    letter-spacing: 0.05rem;
    position: relative;
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .phone-signup-detail h2 {
    font-weight: lighter;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .phone-signup-detail .first-name {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 1.1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.05rem solid #bebdbd;
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .phone-signup-detail .last-name {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 1.1rem;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0 0 1rem 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .line {
    text-align: center;
    overflow: hidden;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .button-container {
    margin: 1rem 0;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .phone-signup-detail-container .phone-signup-detail-contents .phone-signup-detail-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .email-signup-detail-container {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow: scroll;
  }
  .email-signup-detail-container .email-signup-detail-contents {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
  }
  .email-signup-detail-container .email-signup-detail-contents .alert-message {
    font-size: 1rem;
    color: #ff5757;
    display: none;
    margin-left: 0.25rem;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body {
    letter-spacing: 0.05rem;
    position: relative;
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .email-signup-detail h2 {
    font-weight: lighter;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .email-signup-detail .email {
    width: 100%;
    padding: 1rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .email-signup-detail .password {
    width: 100%;
    padding: 1rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .email-signup-detail .first-name {
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem 1.1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.05rem solid #bebdbd;
    border-bottom: 0;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .email-signup-detail .last-name {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 1.1rem;
    display: inline-block;
    border: 0.05rem solid #bebdbd;
    border-radius: 0 0 1rem 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: lighter;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .line {
    text-align: center;
    overflow: hidden;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .line span {
    color: #bebdbd;
    position: relative;
    padding: 0 0.7rem;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .line span::before {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    top: 50% !important;
    right: 100% !important;
    width: 500rem !important;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .line span::after {
    position: absolute;
    content: "";
    border-top: 1px solid #bebdbd;
    margin: 0 0rem;
    top: 50% !important;
    left: 100% !important;
    width: 500rem !important;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .button-container {
    margin: 1rem 0;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .email-signup-detail-container .email-signup-detail-contents .email-signup-detail-contents-body .button-container .button p {
    color: white;
    width: auto;
  }
  .logged-in {
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .logged-in .logged-in-container {
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    max-width: 30rem;
  }
  .logged-in .logged-in-container .button-container {
    margin: 1rem 0;
  }
  .logged-in .logged-in-container .button-container .button {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(30.62%, #049dd9), color-stop(161.07%, white));
    background-image: linear-gradient(270deg, #049dd9 30.62%, white 161.07%);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .logged-in .logged-in-container .button-container .button p {
    color: white;
    width: auto;
  }
  .logged-in .logged-in-container .logged-in-logo {
    height: 5em;
    overflow: hidden;
    position: relative;
  }
  .logged-in .logged-in-container .logged-in-logo img {
    height: auto;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .logged-in .logged-in-container .guest-number-container {
    position: relative;
    padding: 0 1.5rem;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents h4 {
    font-weight: lighter;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents h5 {
    font-weight: lighter;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-counter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-counter-container .guest-text {
    position: relative;
    text-align: center;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-counter-container .guest-numbers {
    position: relative;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-counter-container .guest-numbers .fas {
    border: #bebdbd solid 0.05rem;
    border-radius: 10rem;
    padding: 0.65rem;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-counter-container .guest-numbers .fa-minus {
    color: #bebdbd;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-counter-container .guest-numbers .fa-plus {
    border: #6c6c6c solid 0.05rem !important;
    color: #6c6c6c;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-numbers input[type="number"],
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-numbers select {
    text-align: center;
    width: 3.5rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .logged-in .logged-in-container .guest-number-container .guest-number-contents .guest-counter .guest-numbers .number-button {
    border: solid black thin;
    width: 3rem;
  }
  .logged-in .logged-in-container .button-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .logged-in .logged-in-container .button-bottom .button {
    margin: 0 1.5rem;
  }
  .logged-in .logged-in-container .calendar-contents {
    letter-spacing: 0.05rem;
    position: relative;
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .logged-in .logged-in-container .calendar-contents .calendar-border {
    border: 1px solid #f7f7f7 !important;
    border-radius: 1rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
  }
  .logged-in .logged-in-container .calendar-contents .calendar-border .calendar-bordertwo {
    position: relative;
    height: 3rem;
  }
  .logged-in .logged-in-container .calendar-contents .calendar-border .fa-calendar-check {
    padding-left: 1.5rem;
  }
  .logged-in .logged-in-container .calendar-contents .calendar-border .check-date {
    border: none;
    border-right: 1px solid #dfdfdf !important;
    width: 40%;
  }
  .logged-in .logged-in-container .calendar-contents .calendar-border .guest-number-display {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(-13%, 80%);
            transform: translate(-13%, 80%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-left: 1.5rem;
  }
  .logged-in .logged-in-container .calendar-contents .calendar-border .guest-number-display h4 {
    font-weight: lighter;
    margin-left: 1.5rem;
  }
  .logged-in .logged-in-container .calendar-contents .check-date {
    width: 40%;
    height: 3rem;
    text-align: center;
  }
  .logged-in .logged-in-container .back-next-button {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logged-in .logged-in-container .back-next-button .button-container {
    margin: 1rem 1.5rem;
    width: 50%;
  }
  .logged-in .logged-in-container .item-container {
    padding: 0 1.5rem;
    margin-top: 1rem;
    display: none;
    height: auto;
  }
  .logged-in .logged-in-container .item-contents {
    position: relative;
    overflow-x: scroll;
    overflow-y: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 10vh;
  }
  .logged-in .logged-in-container .item-contents .item {
    letter-spacing: 0.035rem;
    min-width: 98%;
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 1px solid #c7c7c7 !important;
    border-radius: 1rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
  }
  .logged-in .logged-in-container .item-contents .item .item-texts {
    padding-left: 0.5rem;
  }
  .logged-in .logged-in-container .item-contents .item .bold-price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .logged-in .logged-in-container .item-contents .item h3 {
    margin: 0, 0.5rem;
    font-size: 1.5rem;
  }
  .logged-in .logged-in-container .item-contents .item h4 {
    font-weight: lighter;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
  }
  .logged-in .logged-in-container .item-contents .item img {
    width: 100%;
    height: 15rem;
  }
  .top {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .bottom {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .current {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    z-index: 1;
  }
  .red-alert-border {
    border: #ff5757 0.05rem solid !important;
  }
  .displaynone {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */